@model crud.ViewModels.FacultyViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Edit Faculty";
}
<h2>Edit Faculty</h2>
<hr></hr>
<form method="post" action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">       
        <label for="" class="form-label">Faculty Name</label>
        <input type="text" class="form-control" asp-for="FacultyName">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
