@model crud.ViewModels.StudentViewModel

@*dynamically changing title of webapp*@
@{
    ViewData["Title"] = "List of Students";
}
<h2>Add Student</h2>
<hr></hr>
<form method="post" action="Add">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Faculty</label>
        <select asp-for="FacultyId" asp-items="@Model.Faculties" class="form-control">
            <option value="0" selected>--Select--Faculty--</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Address</label>
        <input type="text" class="form-control" asp-for="Address">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
