@model crud.ViewModels.StudentViewModel

@*dynamically changing title of webapp*@
@{
    ViewData["Title"] = "Edit Student";
}
<h2>Edit Student</h2>
<hr></hr>
<form method="post" action="Edit">
    <input type="hidden" asp-for="Id"/>
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Faculty</label>
        <input type="text" class="form-control" asp-for="Faculty">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Address</label>
        <input type="text" class="form-control" asp-for="Address">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>